h2 Plans
.plan-tracker__plans
  each plan in plans
    .plan-tracker__plan-name-toggle(class='.plan-tracker__plan-name-toggle' + plan.class)
      p= plan.name

h2 Issues
.plan-tracker__issues
  each type in ['individual', 'corporate', 'other']
    div(class='plan-tracker__' + type + '-issues')
      h3.plan-tracker__issue-section-heading Individual Taxes:
      ul
        each tax in taxes
          if tax.type == type
            li.plan-tracker__issue-toggle(id=tax.class)= tax.name
