h2 Plans
ul.plan-tracker__plans
  each plan in plans
    li.plan-tracker__plan-toggle(id=plan.class, onclick='togglePlan("' + plan.class + '")')= plan.name
  li.plan-tracker__plan-toggle.plan-tracker__plan-select-all(onclick='selectAllPlans()') Deselect All

h2 Issues
.plan-tracker__issues
  each type in ['individual', 'corporate', 'other']
    div(class='plan-tracker__' + type + '-issues')
      h3.plan-tracker__issue-section-heading #{type} Taxes:
      ul.plan-tracker__issues-list
        each tax in taxes
          if tax.type == type
            li.plan-tracker__issue-toggle(id=tax.class, onclick='toggleIssue("' + tax.class + '")')= tax.name
  .plan-tracker__issue-toggle.plan-tracker__issue-select-all(onclick='selectAllIssues()') Deselect All
