each tax in taxes
  tr.plan-tracker__row(id=tax.class)
    td.plan-tracker__cell
      h2= tax.name
    td.plan-tracker__cell
      each plan in plans
        .plan-tracker__position(class = plan.class + '-position')
          .plan-tracker__name
            h3= plan.name
          .plan-tracker__position-text
            each position in plan.positions
              if tax.class == position.class
                p= position.text
