each tax in taxes
  tr(id=tax.class)
    td
      h2= tax.name
    td
      each plan in plans
        .plan-position(id = plan.class + '-position')
          .plan-name
            h3= plan.name
          .plan-position-text
            each position in plan.positions
              if tax.class == position.class
                p= position.text
