.plan-tracker
  style
    include ../dist/css/style.css
  .intro
    p Over the past few years, several members of Congress have issued comprehensive tax reform proposals. These tax plans will likely play a large role in framing the tax policy debate in 2017 and beyond.
    p The chart below summarizes the major provisions in five recent Congressional tax reform proposals:
    ul
      li #[a(href="http://taxfoundation.org/article/economic-analysis-camp-tax-reform-discussion-draft") The Tax Reform Act of 2014], introduced by former #[a(href="http://waysandmeans.house.gov/UploadedFiles/Ways_and_Means_Section_by_Section_Summary_FINAL_022614.pdf") Congressman Dave Camp (R-MI)]
      li #[a(href="http://taxfoundation.org/article/analysis-senator-cardin-s-progressive-consumption-tax") The Progressive Consumption Tax Act], introduced by #[a(href="https://www.cardin.senate.gov/pct-section-by-section") Senator Ben Cardin (D-MD)]
      li #[a(href="http://taxfoundation.org/article/updated-details-and-analysis-nunes-plan-reform-business-taxation") The American Business Competitiveness Act], introduced by #[a(href="http://nunes.house.gov/uploadedfiles/abc_section-by-section_summary.pdf") Congressman Devin Nunes (R-CA)]
      li #[a(href="http://taxfoundation.org/article/details-and-analysis-2016-house-republican-tax-reform-plan") The "A Better Way" Tax Reform Blueprint], issued by #[a(href="http://abetterway.speaker.gov/_assets/pdf/ABetterWay-Tax-PolicyPaper.pdf") Speaker Paul Ryan (R-WI)]
      li #[a(href="http://taxfoundation.org/article/details-and-analysis-rep-jim-renacci-s-tax-reform-proposal") The "Simplifying America’s Tax System" Plan], issued by #[a(href="http://renacci.house.gov/_cache/files/7eeb81fe-f245-42c0-8de4-055ebf4c12e9/sats-white-paper.pdf") Congressman Jim Renacci (R-OH)]
    p To learn more about this chart, see #[a(href="http://taxfoundation.org/blog/comparing-congressional-tax-reform-proposals") this post].


  include ./views/toggle.pug

  table.plan-tracker__table
    thead.plan-tracker__heading
      tr.plan-tracker__row
        th.plan-tracker__cell Issue
        th.plan-tracker__cell Plan
    tbody.plan-tracker__body
      include ./views/tracker.pug

  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script
    include ./js/app.js
