.plan-tracker
  style
    include ../dist/css/style.css

  include ./views/toggle.pug

  table.plan-tracker__table
    thead.plan-tracker__heading
      tr.plan-tracker__row
        th.plan-tracker__cell Issue
        th.plan-tracker__cell Plan
    tbody.plan-tracker__body
      include ./views/tracker.pug

  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script
    include ./js/app.js
