$background-color: #fff;
$tf-blue: #0094ff;
$text-color: rgba(0, 0, 0, .8);
$table-border: #ddd;

.plan-tracker {
  color: $text-color;
  margin: 0;

  strong {
    font-weight: 700;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-position: inside !important;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 10px;
  }

  &__table {
    background-color: $background-color !important;
    border: solid $table-border 1px !important;
    border-collapse: separate !important;
    border-left: 0 !important;
    border-radius: 4px !important;
    border-spacing: 0 !important;
    margin: 25px auto;
    width: 100%;

    th {
      border-top: 0;
      font-weight: 700;
      padding: 10px 15px 0;
    }

    td {
      border-top: 1px solid $table-border !important;
      padding: 0 15px;

      p {
        margin: 0 0 12px;
      }
    }

    th:first-child {
      border-radius: 4px 0 0;
    }

    th:last-child {
      border-radius: 0 4px 0 0;
    }

    th:only-child {
      border-radius: 4px 4px 0 0;
    }

    tr:last-child td:first-child {
      border-radius: 0 0 0 4px;
    }

    tr:last-child td:last-child {
      border-radius: 0 0 4px;
    }
  }

  &__row--inactive {
    display: none;
  }

  &__cell {
    background-color: $background-color !important;
    border-left: 1px solid $table-border !important;
    color: $text-color !important;
    vertical-align: top;

    h2,
    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  &__issue-section-heading {
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0 5px;
  }

  &__issues,
  &__plans {
    border: 1px solid $table-border;
    border-radius: 4px;
  }

  &__plans,
  &__issues-list {
    list-style: none;
    margin: 0;
    padding: 0 18px;
  }

  &__issue-toggle,
  &__plan-toggle {
    background-color: $tf-blue;
    border: 1px solid $tf-blue;
    border-radius: 4px;
    color: $background-color;
    display: inline-block;
    font-size: 14px;
    margin: 10px 8px 8px 0;
    padding: 6px;

    &:hover {
      background-color: lighten($tf-blue, 10%);
    }
  }

  &__issue-toggle--inactive,
  &__plan-toggle--inactive {
    background-color: transparent;
    color: $tf-blue;

    &:hover {
      background-color: lighten($tf-blue, 35%);
    }
  }

  &__issue-section-heading {
    border-bottom: 1px solid $text-color;
    font-size: 18px;
    margin-left: 18px;
    text-transform: capitalize;
  }

  &__position--inactive {
    border: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
  }

  &__issue-select-all {
    margin: 18px;
  }

  &__issue-select-all,
  &__plan-select-all {
    background-color: $background-color;
    color: $tf-blue;

    &:hover {
      background-color: lighten($tf-blue, 35%);
    }
  }

  &__position-text {
    font-size: 16px;
    line-height: 1.4;
  }
}
